<div class="lh-solid f6">
  {{#eq name 'default'}}
    {{#if file.isIndex}}
      {{esImport
          all=false
          name=(daam file.path)
          link=(concat '/' file.path '/source.html')
          line=(getLine function_id)
          from=file.dir
      }}
    {{else}}
      {{esImport
          all=false
          name=(camelcase file.name)
          link=(concat '/' file.path '/source.html')
          line=(getLine function_id)
          from=(concat file.dir '/' file.name)
      }}
    {{/if}}
    {{else}}
      {{esImport
          all=false
          name=(concat '{ ' name ' }')
          link=(concat '/' file.path '/source.html')
          line=(getLine function_id)
          from=(concat file.dir '/' file.name)
      }}
  {{/eq}}
</div>
