<!DOCTYPE html>
<html lang="en">
{{> _head }}

<body class="bg-black-10">
  <div class="mw9 center ph6-ns bg-white">
    <div class="cf ph2-ns">
      <div class="fl w-100 w-30-ns pa2">
        <div class="bg-navy pv4 pl2">
          <div class="f2 near-white pa3 pl3 mb1">
            <a class="mb2 link dim white db" href="/" title="Home">
              <i class="white-50 fa fa-book"></i>&nbsp;DocSense</a>
          </div>
          <div class="f3 near-white pa3 pl3 mb2">
            <i class="white-50 fa fa-cubes"></i>&nbsp;Modules</div>
          {{#each esModules }}
            {{#if file.isIndex }}
              <a class="mb2 pa2 pl4 link dim white db" href="/{{file.path}}/index.html" title="{{file.path}}">
                <i class="white-40 fa fa-cubes mr2"></i>{{daam file.path}}
              </a>
            {{else}}
              <a class="mb2 pa2 pl4 link dim white db" href="/{{file.path}}/index.html" title="{{file.path}}">
                <i class="white-40 fa fa-cube mr2"></i>{{file.name}}
              </a>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <div class="fl w-100 w-70-ns pa2 ">
        <div class="lh-copy bg-white pv4 pl2 ">
          <script>hljs.initHighlightingOnLoad();</script> {{{page}}}</div>
      </div>
    </div>
  </div>
</body>

</html>
