<div>
  {{#and hasMarkdownFile markdownFileTitle}}
    {{{markdownFileTitle.heading}}} {{{markdownFileTitle.content}}}
    {{else}}
      <header class="mb5">
        <h1 class="mb0 black-50">
          <i class="blue black-50 pr2 icon-folder" aria-hidden="true"></i>
          &nbsp;{{ dirModule.directory }}</h1>
      </header>
  {{/and}}
  {{#if hasMarkdownFile}}
    {{#each markdownFileChunks}}
      {{#isnt depth '1'}}
        {{{heading}}} {{{content}}}
      {{/isnt}}
    {{/each}}
  {{/if}}
  <div class="ml2 mt4">
    <div class="pl4">
      {{#each dirModule.exportedModules }}
        {{#if @first}}
          <h2>Modules</h2>
        {{/if}}
        <div>
          <h2>
            <a class="link dim black-90" href="/{{file.dir}}/{{file.name}}{{file.ext}}/index.html">
              {{#if file.isIndex }}
                <i class="blue black-50 icon-cubes" aria-hidden="true"></i>&nbsp;
              {{else}}
                <i class="blue black-50 icon-cube" aria-hidden="true"></i>&nbsp;
              {{/if}}
              {{file.name}}
            </a>
          </h2>
          <div class="f5">{{> importHeader file=file }}</div>
          <h3>Exports</h3>
          <div class="pl4">
            {{#each fileExports }}
              {{#eq kind 'ExportingLiteral' }}
                {{> literalBlock file=../file}}
                <br/>
              {{/eq}}
              {{#eq kind 'ExportingFunction' }}
                {{> functionBlock file=../file}}
                <br/>
              {{/eq}}
              {{#eq kind 'ExportingImport' }}
                {{> importedBlock file=../file}}
                <br/>
              {{/eq}}
              {{#eq kind 'ExportingReference' }}
                {{> referenceBlock file=../file}}
                <br/>
              {{/eq}}
            {{/each}}
          </div>
        </div>
        <hr/>
      {{/each}}
    </div>
  </div>
</div>
