<div class="bg-washed-blue mv4 pa2" id="{{esModule_id}}">
  <code><h3 class="f5 mb4 lh-solid">
  <a class="link dim black-90" href="#{{esModule_id}}">
    {{esModule_id}}
  </a>
  (
  {{~#each function.params as |param|~}}
    <span class="dark-red">
      {{~#if @last~}}{{~renderParam param~}}{{else}}{{~renderParam param~}}<span class="black-50">,</span>{{~/if~}}
    </span>
  {{~/each~}})
  <span>
    {{#each jsdoc}}
        {{#each tags}}
          {{#eq title 'returns'}}

              <i class="dark-red fa fa-arrow-right"></i>{{> typeAnnotation }}

          {{/eq}}
        {{/each}}
    {{/each}}
  </span>
</h3>
</code>
  <div>
    {{> importFn name=esModule_id file=@root.esModule.file function_id=function.function_id}} {{> fndoc jsdoc=jsdoc}}
  </div>

</div>
