<div>
  {{#if file.isIndex}}
    {{#code}}
    import * as {{daam file.path}} from '<a class="dim red link" title="view source" href="/{{file.path}}/source.html">{{file.dir}}'</a>
  {{/code}}
  {{else}}
  {{#code}}
    import * as {{file.name}} from '<a class="dim red link" title="view source" href="/{{file.path}}/source.html">{{file.dir}}/{{file.name}}'</a>
  {{/code}}
  {{/if}}
</div>
