<div class="lh-solid">
  {{#eq name 'default'}}
    <pre class="ba b--black-20 lh-solid"><code class="javascript">import {{exportName filepath}} from '<a class="dim red link" href="/{{filepath}}/source.html{{#if function_id}}#{{getLine function_id}}{{/if}}">{{filepath}}</a>'</code></pre>
    {{else}}
      <pre class="ba b--black-20 lh-solid"><code class="javascript">import { {{name}} } from '<a class="dim red link" href="/{{filepath}}/source.html{{#if function_id}}#{{getLine function_id}}{{/if}}">{{filepath}}</a>'</code></pre>
  {{/eq}}
</div>
